<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Otodom - offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">OtoDom</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/new-offer}">Dodaj ogłoszenie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Wyszukaj</a>
                </li>
                <div sec:authorize="isAuthenticated()">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Moje konto
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/my-acc}">Szczegóły</a>
                            <a class="dropdown-item" href="#">Moje ogłoszenia</a>
                        </div>
                    </li>
                </div>
            </ul>


            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyloguj się</button>
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <form th:action="@{/login}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj się</button>
                </form>
            </div>


        </div>
    </div>
</nav>


<div class="container">
    <br><br>
    <h5>Filtr: <a style="color: #5cb85c;">Województwa</a></h5>
    <hr>
    <div class="row">
        <div class="col">
            <a th:href="@{/home}" class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px; white-space: pre-wrap;" type="submit">Wszystkie</a><br>
            <br>
            <form th:action="@{/search-by-region(region = 'Śląskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Śląskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Dolnośląskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Dolnośląskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Opolskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Opolskie</button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/search-by-region(region = 'Kujawsko-pomorskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Kujawsko-pomorskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Lubelskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Lubelskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Łódzkie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Łódzkie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Mazowieckie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Mazowieckie</button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/search-by-region(region = 'Podkarpackie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Podkarpackie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Podlaskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Podlaskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Pomorskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Pomorskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Świętokrzyskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Świętokrzyskie</button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/search-by-region(region = 'Warmińsko-mazurskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Warmińsko-mazurskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Wielkopolskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Wielkopolskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Zachodniopomorskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Zachodniopomorskie</button>
            </form>
            <br>
            <form th:action="@{/search-by-region(region = 'Małopolskie')}" method="post">
                <button class="btn btn-success" style="width: 200px; margin-left: 25px; margin-right: 25px;" type="submit">Małopolskie</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-2">

        <tr th:each="off : ${filtered}">
            <div class="col mb-4">
                <!-- Card -->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" width="500" height="300" th:src="@{${off.getImg()}}"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title" th:text="${off.getTitle()}"></h4>
                        <!--Loc-->
                        <svg width="1em" height="1em" viewBox="0 0 16 16" style="color: #5cb85c" class="bi bi-cursor-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                        </svg>
                        <nobr style="color: #5cb85c" th:text="${off.getLoc()}"></nobr>
                        <!--Text-->
                        <p class="card-text" th:text="${off.getDesc()}"></p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <form th:action="@{/selected-offer(id=${off.getId()})}" method="post">
                            <button type="submit" class="btn btn-success">więcej</button>
                        </form>

                    </div>
                </div>
                <!-- Card -->
            </div>
        </tr>

    </div>
</div>

<br>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #5cb85c;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Pomożemy Ci zarządzać twoimi nieruchomościami!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">OtoDom</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Otodom umożliwia użytkownikom przeglądanie i zamieszczanie ogłoszeń sprzedaży i wynajmu nieruchomości w szczególności mieszkań, domów, biur czy pokoi.
                    W serwisie można również zamieścić reklamę swojej firmy i świadczonych usług jeśli
                    są one związane z rynkiem nieruchomości.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Pomoc</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!" style="color:#5cb85c">Centrum Pomocy</a>
                </p>
                <p>
                    <a href="#!" style="color:#5cb85c">Regulamin</a>
                </p>
                <p>
                    <a href="#!" style="color:#5cb85c">Polityka prywatności</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Przydatne linki</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!" style="color:#5cb85c">Instagram</a>
                </p>
                <p>
                    <a href="#!" style="color:#5cb85c">Facebook</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Katowice, 40-000</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> oto-biuro@wp.pl</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +48 567-987-345</p>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://michalmalek.herokuapp.com/" style="color:#5cb85c"> Michał Małek</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->



</body>
</html>